/*CONFIGURAÇÕES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-image: url(./Assets/img-01.jpg);
    height: 100vh;
    width: 100vw;
    font-family: 'Schoolbell', cursive;
    font-size: 35px;
}

/*CLASSES*/
.container {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 120px;
}

.content {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultado {
    display: block;
    height: 500px;
    width: 350px;
    padding-left: 100px;
}

/*ELEMENTOS*/

.content input[type="number"] {
    display: block;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-family: 'Schoolbell', cursive;
    font-size: 20px;
    padding-left: 35px;
    margin-left: 12px;
}

.content button {
    display: block;
    background: #FFFFFF;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Schoolbell', cursive;
    font-size: 20px;
    margin-left: 12px;
}

.brand {
    display: block;
    font-size: 20px;
    margin-top: 5px;
}
